body {
  background-color: #047463;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../imagem/0x0.jpg);
}

div {
  border: 5px solid #4511a594;
  padding: 5px;
  border-radius: 15px;
  margin: 20px;
  font-size: 25px;
}

button{
	border: 5px solid #6512c5;
	border-radius: 15px;
	font-size: 25px;
	margin: 15px;
	padding: 5px;
}

input{
    width:75px;
    padding:5px;
    box-sizing: border-box;
    font-size: 17px;
}

#container{
	width: 900px;

}

#resposta{
	 width: 450px;
}
.titulo{
	background-color: #0ac5b9a6;
	color:  black;
	font-size: 36px;
}

.texto{
	margin: 15px;
}

